* {
  font-family: cursive;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.sign-in button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.container {
  /* max-width: 968px; */
  margin: 2rem auto;
}
.container header {
  display: flex;
  justify-content: space-between;
}

.container header button {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-top: 28px;
  cursor: pointer;
}
.container header span {
  text-align: center;
}

.container header span p {
  font-size: 1.5rem;
  margin-top: 0;
}
.container header span img {
  width: 3rem;
  border-radius: 50%;
}

.add-todo {
  margin-top: 2rem;
}

.add-todo input {
  margin-right: 1rem;
  padding: 0.25rem 0.25rem;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.add-todo input:focus,
.add-todo input:active {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.add-todo button {
  padding: 0.25rem 0.75rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.todo-list {
  list-style: none;
}
.todo {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 0.75rem;
}

.todo button,
svg {
  margin-right: 1.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.todo-text {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-family: cursive;
  cursor: pointer;
}

.todo-text.complete {
  text-decoration: line-through;
}
